* {
  -webkit-box-sizing: -border-box;
          box-sizing: -border-box;
          margin: 0;
          padding: 0;
}

html {
  background: rgb(129,168,184);
  color: #19171c;
}

h1 {
  font-family: 'Rubik', sans-serif;
  padding: 20px 10px;
}

i {
  left: 2px;
  position: absolute;
  top: 1.75px;
}

.accordion {
  background: rgb(242, 247, 249);
  margin: 100px auto;
  padding: 25px;
  width: 40%;
}

.title {
  font-family: 'Rubik', sans-serif;
  padding: 5px;
}

.title:nth-child(4n+2) {
  background: hsl(201, 30%, 80%);
}

.title:nth-child(4n+2):hover {
  background: hsl(201, 30%, 75%);
  cursor: pointer;
}

.title:nth-child(4n+4) {
  background: hsl(198, 50%, 90%);
}

.title:nth-child(4n+4):hover {
  background: hsl(198, 50%, 85%);
  cursor: pointer;
}

.active + .description {
  display: block;
	height: auto;
}

.description {
  display: none;
  font-family: 'Roboto', sans-serif;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 350ms ease-in-out;
  transition: height 350ms ease-in-out;
}

.description-inner {
  margin: 10px;
}

.circle {
  border: 1.5px solid #000;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  position: relative;
  vertical-align: center;
  width: 15px;
}
